:root {
    --color-budgetCurrentMonth: #141520;
    --color-budgetHeaderCurrentMonth: #080811;
    --color-budgetHeaderOtherMonth: #1c1e29;
    --color-budgetOtherMonth: #242733;
    --color-buttonBareBackground: transparent;
    --color-buttonBareBackgroundActive: rgba(200, 200, 200, .5);
    --color-buttonBareBackgroundHover: rgba(200, 200, 200, .3);
    --color-buttonBareDisabledBackground: transparent;
    --color-buttonBareDisabledText: #9ca5b2;
    --color-buttonBareText: #d4dae0;
    --color-buttonBareTextHover: #d4dae0;
    --color-buttonMenuBackground: #242733;
    --color-buttonMenuBackgroundHover: rgba(200, 200, 200, .25);
    --color-buttonMenuBorder: #ffd700;
    --color-buttonMenuSelectedBackground: #ffd700;
    --color-buttonMenuSelectedBackgroundHover: #98a1ae;
    --color-buttonMenuSelectedBorder: #ffd700;
    --color-buttonMenuSelectedText: #0c6b58;
    --color-buttonMenuSelectedTextHover: #87540d;
    --color-buttonMenuText: #bdc5cf;
    --color-buttonMenuTextHover: #bdc5cf;
    --color-buttonNormalBackground: #373b4a;
    --color-buttonNormalBackgroundHover: #242733;
    --color-buttonNormalBorder: #98a1ae;
    --color-buttonNormalDisabledBackground: #242733;
    --color-buttonNormalDisabledBorder: #4d5768;
    --color-buttonNormalDisabledText: #9ca5b2;
    --color-buttonNormalSelectedBackground: #ffd700;
    --color-buttonNormalSelectedText: #000000;
    --color-buttonNormalShadow: rgba(0, 0, 0, 0.4);
    --color-buttonNormalText: #d4dae0;
    --color-buttonNormalTextHover: #d4dae0;
    --color-buttonPrimaryBackground: #ffd700;
    --color-buttonPrimaryBackgroundHover: #ffed4e;
    --color-buttonPrimaryBorder: #ffd700;
    --color-buttonPrimaryDisabledBackground: #242733;
    --color-buttonPrimaryDisabledBorder: #242733;
    --color-buttonPrimaryDisabledText: #9ca5b2;
    --color-buttonPrimaryShadow: rgba(255, 215, 0, 0.6);
    --color-buttonPrimaryText: #000000;
    --color-buttonPrimaryTextHover: #000000;
    --color-calendarBackground: #242733;
    --color-calendarCellBackground: #373b4a;
    --color-calendarItemBackground: #4d5768;
    --color-calendarItemText: #d4dae0;
    --color-calendarSelectedBackground: #ffd700;
    --color-calendarText: #f6f8fa;
    --color-cardBackground: #141520;
    --color-cardBorder: #ffd700;
    --color-cardShadow: #080811;
    --color-checkboxBackgroundSelected: #080811;
    --color-checkboxBorderSelected: #ffd700;
    --color-checkboxShadowSelected: #ffed4e;
    --color-checkboxText: #d4dae0;
    --color-checkboxToggleBackground: #9ca5b2;
    --color-checkboxToggleBackgroundSelected: #ffd700;
    --color-checkboxToggleDisabled: #242733;
    --color-errorBackground: #8a041a;
    --color-errorBorder: #e12d39;
    --color-errorText: #ff9b9b;
    --color-errorTextDark: #ffbdbd;
    --color-errorTextDarker: #ffbdbd;
    --color-errorTextMenu: #ff9b9b;
    --color-floatingActionBarBackground: #080811;
    --color-floatingActionBarBorder: #ffd700;
    --color-floatingActionBarText: #ffd700;
    --color-formInputBackground: #141520;
    --color-formInputBackgroundSelected: #242733;
    --color-formInputBackgroundSelection: #ffd700;
    --color-formInputBorder: #373b4a;
    --color-formInputBorderSelected: #ffd700;
    --color-formInputShadowSelected: #ffd700;
    --color-formInputText: #d4dae0;
    --color-formInputTextHighlight: #ffd700;
    --color-formInputTextPlaceholder: #d4dae0;
    --color-formInputTextPlaceholderSelected: #e8ecf0;
    --color-formInputTextReadOnlySelection: #141520;
    --color-formInputTextSelected: #000000;
    --color-formInputTextSelection: #141520;
    --color-formLabelBackground: #1a1a00;
    --color-formLabelText: #ffd700;
    --color-markdownDark: #b8860b;
    --color-markdownLight: #1a1a00;
    --color-markdownNormal: #daa520;
    --color-menuAutoCompleteBackground: #373b4a;
    --color-menuAutoCompleteBackgroundHover: #4d5768;
    --color-menuAutoCompleteItemText: #e8ecf0;
    --color-menuAutoCompleteItemTextHover: #f6f8fa;
    --color-menuAutoCompleteText: #e8ecf0;
    --color-menuAutoCompleteTextHeader: #ffd700;
    --color-menuAutoCompleteTextHover: #014d40;
    --color-menuBackground: #242733;
    --color-menuBorder: #141520;
    --color-menuBorderHover: #ffd700;
    --color-menuItemBackground: #bdc5cf;
    --color-menuItemBackgroundHover: #242733;
    --color-menuItemText: #e8ecf0;
    --color-menuItemTextHeader: #ffd700;
    --color-menuItemTextHover: #f6f8fa;
    --color-menuItemTextSelected: #ffd700;
    --color-menuKeybindingText: #ffd700;
    --color-mobileAccountShadow: #080811;
    --color-mobileAccountText: #0b5fa3;
    --color-mobileConfigServerViewTheme: #ffd700;
    --color-mobileHeaderBackground: #080811;
    --color-mobileHeaderText: #ffd700;
    --color-mobileHeaderTextHover: rgba(255, 215, 0, 0.15);
    --color-mobileHeaderTextSubdued: #bdc5cf;
    --color-mobileNavBackground: #373b4a;
    --color-mobileNavItem: #d4dae0;
    --color-mobileNavItemSelected: #ffd700;
    --color-mobilePageBackground: #080811;
    --color-mobileTransactionSelected: #ffd700;
    --color-mobileViewTheme: #080811;
    --color-modalBackground: #242733;
    --color-modalBorder: #bdc5cf;
    --color-noteTagBackground: #373b4a;
    --color-noteTagBackgroundHover: #2a2a00;
    --color-noteTagDefault: #1a1a00;
    --color-noteTagText: #ffd700;
    --color-noticeBackground: #1a1a00;
    --color-noticeBackgroundDark: #1a1a00;
    --color-noticeBackgroundLight: #1a1a00;
    --color-noticeBorder: #ffd700;
    --color-noticeText: #ffd700;
    --color-noticeTextDark: #ffd700;
    --color-noticeTextLight: #ffd700;
    --color-noticeTextMenu: #ffd700;
    --color-noticeTextMenuHover: #ffd700;
    --color-overlayBackground: rgba(0, 0, 0, 0.3);
    --color-pageBackground: #262835;
    --color-pageBackgroundBottomRight: #242733;
    --color-pageBackgroundLineBottom: #d4dae0;
    --color-pageBackgroundLineMid: #080811;
    --color-pageBackgroundLineTop: #ffd700;
    --color-pageBackgroundModalActive: #242733;
    --color-pageBackgroundTopLeft: #141520;
    --color-pageText: #e8ecf0;
    --color-pageTextDark: #e8ecf0;
    --color-pageTextLight: #bdc5cf;
    --color-pageTextLink: #ffd700;
    --color-pageTextLinkLight: #ffed4e;
    --color-pageTextPositive: #ffd700;
    --color-pageTextSubdued: #9ca5b2;

    --color-pillBackground: #141520;
    --color-pillBackgroundLight: #080811;
    --color-pillBackgroundSelected: #373b4a;
    --color-pillBorder: #4d5768;
    --color-pillBorderDark: #4d5768;
    --color-pillBorderSelected: #a368fc;
    --color-pillText: #bdc5cf;
    --color-pillTextHighlighted: #ffd700;
    --color-pillTextSelected: #ffd700;
    --color-pillTextSubdued: #4d5768;
    --color-reportsBlue: #ffd700;
    --color-reportsGray: #9ca5b2;
    --color-reportsGreen: #ffd700;
    --color-reportsInnerLabel: #050505;
    --color-reportsLabel: #e8ecf0;
    --color-reportsRed: #f86a6a;
    --color-sidebarBackground: #080811;
    --color-sidebarBudgetName: #ffd700;
    --color-sidebarItemAccentSelected: #ffd700;
    --color-sidebarItemBackgroundFailed: #f86a6a;
    --color-sidebarItemBackgroundHover: #242733;
    --color-sidebarItemBackgroundPending: #ffd700;
    --color-sidebarItemBackgroundPositive: #ffd700;
    --color-sidebarItemText: #e8ecf0;
    --color-sidebarItemTextSelected: #ffd700;
    --color-tableBackground: #141520;
    --color-tableBorder: #373b4a;
    --color-tableBorderHover: #ffd700;
    --color-tableBorderSelected: #ffd700;
    --color-tableBorderSeparator: #9ca5b2;
    --color-tableHeaderBackground: #080811;
    --color-tableHeaderText: #bdc5cf;
    --color-tableRowBackgroundHighlight: #ffd700;
    --color-tableRowBackgroundHighlightText: #000000;
    --color-tableRowBackgroundHover: #4d5768;
    --color-tableRowHeaderBackground: #242733;
    --color-tableRowHeaderText: #d4dae0;
    --color-tableText: #d4dae0;
    --color-tableTextHover: #9ca5b2;
    --color-tableTextInactive: #9ca5b2;
    --color-tableTextLight: #d4dae0;
    --color-tableTextSelected: #141520;
    --color-tableTextSubdued: #4d5768;
    --color-tooltipBackground: #141520;
    --color-tooltipBorder: #373b4a;
    --color-tooltipText: #e8ecf0;
    --color-upcomingBackground: #1a1a00;
    --color-upcomingBorder: #373b4a;
    --color-upcomingText: #ffd700;
    --color-warningBackground: #87540d;
    --color-warningBorder: #e6bb20;
    --color-warningText: #ffd700;
    --color-warningTextDark: #fffbea;
    --color-warningTextLight: #e6bb20;
}
